<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentAssistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/logo.png') }}">
</head>
<body>

    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" class="logo">
            <span class="brand-name">StudentAssistant</span>
        </div>
    </header>

<main id="chat-box">
    <div class="message bot-message system-message">
        <div class="avatar">
            <img src="{{ url_for('static', filename='assets/logo.png') }}">
        </div><div class="content">👋 Привіт! Я - StudentAssistant, твій надійний помічник у навчанні. Ти можеш звертатися до мене з будь-якими питаннями, пов’язаними з навчальним процесом, і я із задоволенням допоможу. А якщо ти ще не є студентом нашої кафедри - підкажу, як зробити перший крок і стати ним.</div></div>
</main>

    <div id="loading-indicator" class="hidden">
        <div class="avatar loading-avatar">
            <img src="{{ url_for('static', filename='assets/logo.png') }}">
        </div>

        <div class="loading-spinner"></div>

        <div class="loading-text">Аналізую документацію…</div>
    </div>

    <button id="scroll-down-btn" title="Прокрутити вниз"><span>⬇</span></button>
    
    <footer>
        <div class="input-container">
            <button id="clear-btn" title="Очистити чат"><span>🗑</span></button>

            <div class="input-div"> <div id="user-input" contenteditable="true" data-placeholder="Запитайте щось..."></div></div>

            <button id="send-btn" title="Відправити повідомлення"><span>➤</span></button>

        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>